In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import FunctionTransformer

In [40]:
data = {'a': [1,2, 457,3,4,5,6,7,298,8,9,10,87,90], 'b': [5, 6, 100, 200, 300, 400, 76000,190000, 500, 600, 700, 800, 900, 230000 ]}

df = pd.DataFrame(data)
df

      a       b
0     1       5
1     2       6
2   457     100
3     3     200
4     4     300
5     5     400
6     6   76000
7     7  190000
8   298     500
9     8     600
10    9     700
11   10     800
12   87     900
13   90  230000

In [41]:
columns = list(df.columns)
columns

['a', 'b']

In [42]:
test = list(columns)
test

['a', 'b']

In [43]:
df.shape

(14, 2)

In [44]:
df.quantile(0.5, axis=0)

a      7.5
b    550.0
Name: 0.5, dtype: float64

# Cracked it!

In [101]:
def outliers(df, columns_to_find_outliers):
    
    """
    
    Function that removes outliers from a dataframe. 
    This function requires, as arguments, the dataframe and a list of the columns that the user would like to remove the outliers from.
    The function will gather the indices of the specified columns and then remove these rows.
    
    """
    
    # take the features we want to find outliers in and create a list so it can be looped through
    columns = list(columns_to_find_outliers)
    
    # create an empty list to store the output indices from each column
    index_list = []
    
    for i in columns:

        # set the quartiles and interquartile range
        q1, q3 = df[i].quantile(0.25), df[i].quantile(0.75)
        iqr = q3 - q1
        #Â set the lower and upper bounds
        lower_bound = q1 - (iqr * 1.5)
        upper_bound = q3 + (iqr * 1.5) 

        # get the indices of the outliers in the column
        outlier_indices = df.index[(df[i] < lower_bound) | (df[i] > upper_bound)]

        # count the number of outliers (for validation sake)
        count = len(outlier_indices)

        # append the outlier indices to a list
        index_list.extend(outlier_indices)

        # update user on how many outliers were in each column
        print(f"\nNumber of outliers in column '{i}': {count}\n"
              f"Indices of outliers in column '{i}': {outlier_indices}\n"
             f"Indices of rows that contain outliers and that will be removed: {index_list}")
        
    # delete the rows that contain the outliers / would it be better to replace with the median??
    df = df.drop(labels=index_list)
    return df

In [102]:
# create dataframe to test function
data = {'a': [1,2, 457,3,4,5,6,7,298,8,9,10,87,90, 5, 23000], 'b': [5, 6, 100, 200, 300, 400, 76000,190000, 500, 600, 700, 800, 900, 230000, 10, 12 ]}

df = pd.DataFrame(data)
df

        a       b
0       1       5
1       2       6
2     457     100
3       3     200
4       4     300
5       5     400
6       6   76000
7       7  190000
8     298     500
9       8     600
10      9     700
11     10     800
12     87     900
13     90  230000
14      5      10
15  23000      12

In [103]:
# create list of columns to find outliers in
columns = ['a', 'b']

# create new dataframe with the outliers removed; pass dataframe and columns list as arguments to the outliers function
df = outliers(df, columns)

Number of outliers in column 'a': 3
Indices of outliers in column 'a': Int64Index([2, 8, 15], dtype='int64')
Indices of rows that contain outliers and that will be removed: [2, 8, 15]

Number of outliers in column 'b': 3
Indices of outliers in column 'b': Int64Index([6, 7, 13], dtype='int64')
Indices of rows that contain outliers and that will be removed: [2, 8, 15, 6, 7, 13]

In [80]:
# check dataframe ; the indices should remain as they originally were, and there should be less rows as the outliers
# should have been removed
df

     a    b
0    1    5
1    2    6
3    3  200
4    4  300
5    5  400
9    8  600
10   9  700
11  10  800
12  87  900